* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul ol li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: Roboto, Arial, sans-serif;
}

.Menu-icon {
    background-color: #fff;
    border: none!important;
}

.body {
    margin: 0;
    padding: 0;
}

.qulf {
    margin-left: 0px;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
}

.youtube {
    margin-top: 8px;
    opacity: 0.7;
}

.pusk-qism {
    margin-left: 120px;
}

.offcanvas-start {
    width: 250px;
}

.pusk-qism input {
    margin-top: 5px;
    width: 450px;
    padding: 2px 5px;
}

#offcanvasExampleLabel {
    position: absolute;
    margin-left: 50px;
}

.text-reset {
    border: none;
    background-color: #fff;
}

.you-tube-logo {
    user-select: none;
}

.button-1 {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid black;
    padding: 3px 20px;
    background-color: rgb(238, 232, 232);
    margin-left: -6px;
    opacity: 0.6;
}

.button-1:hover {
    opacity: 1;
}

.nav-mikrafon {
    border: none;
    height: 35px;
    margin-top: -7px;
    margin-left: 7px;
    background-color: #fff;
}

.nav-mikrafon img {
    width: 25px;
    height: 25px;
}

.chekka-menu {
    margin-left: 150px;
}

.camera {
    background-color: #fff;
    opacity: 0.8;
    border-radius: 10px;
}

.camera img {
    padding: 5px;
    width: 30px;
    height: 30px;
}

.nuqtali-menu {
    margin-left: 15px;
    border: none;
    background-color: #fff;
    opacity: 0.8;
    border-radius: 10px;
}

.nuqtali-menu img {
    width: 30px;
    padding: 5px;
    height: 30px;
}

.ball-link {
    margin-left: 15px;
    border-radius: 10px;
    background-color: #fff;
    opacity: 0.8;
}

.ball-link img {
    padding: 5px;
    width: 30px;
    height: 30px;
}

.accaunt {
    margin-left: 15px;
    position:absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0.8;
    color: #fff;
    background-color: rgb(8, 23, 150);
}

.accaunt h4 {
    padding: 5px;
    text-align: center;
    margin-top: 3px;
    font-size: 20px;
    font-weight: 300;
}

.asosiy-menu-div {
    border-top: 1px solid rgb(000, 000, 000, 0.2);
    margin-top: -10px;
    padding-top: 18px;
}

.asosiy-menu {
    font-size: 17px;
    font-weight: 400;
    margin-top: 15px;
    margin-left: 25px;
}

.asosiy-menu-img {
    width: 25px;
    opacity: 0.8;
    margin-top: 5px;
    margin-left: 20px;
    height: 25px;
}

.galcha {
    margin-top: -5px!important;
    opacity: 0.7;
}

.qoshimcha {
    margin-top: 5px;
    margin-left: 13px;
    width: 35px;
}

.bg-color {
    opacity: 0.9;
    width: 250px;
    margin-left: -20px;
    height: 45px;
    padding-top: 5px;
}

.bg-color:hover {
    background-color: rgb(226, 223, 223);
}

.kichray {
    width: 25px;
}

.podpiska {
    margin-top: -10px!important;
    font-weight: 600;
    font-size: 17px;
    opacity: 0.7;
    margin-left: 10px;
}

.img-profil {
    border-radius: 50%;
    opacity: 1!important;
}

.text-profil {
    font-weight: 600;
    font-size: 15px;
}

.asosiy-menu-div p {
    margin-left: 10px;
    font-size: 14px;
}

.teparo {
    margin-top: -5px!important;
}

.div-profil {
    padding: 0px!important;
    height: 35px;
}

.durogov {
    margin-top: -10px!important;
    font-weight: 600;
    font-size: 15px;
    opacity: 0.7;
    margin-left: 10px;
}

.opasity {
    opacity: 0.5;}


.video-chiqish {
    display: block;
    margin-left: -30px;
    width: 810px;
    height: 525px;
    padding: 20px;
}

.malumot-qism {
    height: 250px;
    width: 910px;
    margin-left: -30px;
    border-bottom: 1px solid rgb(165, 162, 162);
}

.videolar-royhati {
    height: 100vh;
    margin-top: -770px;
    margin-left: 900px;
}



.videolar-royhati :first-child {
    width: 300px;
    height: 250px;
    margin-bottom: 30px;
    margin-top: -20px;
}

.box {
    margin-left: -20px;
}

.video-content {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 19px;
    font-weight: 600;
}

.prosmotr {
    font-size: 15px;
    opacity: 0.7;
    margin-left: 10px;
    margin-top: 3px;
}
.yutube-text1, .yutube-text2 {
    display: none;
}
.data {
    font-size: 15px;
    opacity: 0.7;
    margin-left: 5px;
    margin-top: 3px;
}

.button-like {
    margin-left: 55px;
    border: none;
    background-color: rgb(247, 247, 246);
    width: 90px;
    height: 60px;
    margin-top: -15px;
    opacity: 0.8;
    border-bottom: 5px solid rgb(131, 129, 129);
}

.button-disklike {
    margin-top: -15px;
    border: none;
    background-color: rgb(247, 247, 246);
    opacity: 0.8;
    border-bottom: 5px solid rgb(131, 129, 129);
    width: 90px;
    height: 60px;
}

.jonatish-img {
    margin-top: -0px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    opacity: 0.8;
}

.jonatish-text {
    margin-left: 5px;
    font-size: 20px;
    font-weight: 500;
    opacity: 0.8;
}

.saxranit-img {
    margin-top: 3px;
    margin-left: 25px;
    opacity: 0.5;
}

.saxranit-text {
    margin-left: 5px;
    font-size: 20px;
    font-weight: 500;
    opacity: 0.7;
}

.more {
    margin-left: 15px;
    width: 40px;
    height: 15px;
    opacity: 0.7;
    margin-top: 10px;
}

.yutube-text2 {
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
    align-items: center;
}

.yutube-list2 {
    margin-top: 10px;
    height: 150px!important;
    width: 250px!important;
}

.najottalim {
    color: #fff;
    background-color: rgb(21, 87, 185);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 25px;
}

.button-podpiska {
    color: #fff;
    margin-left: 550px;
    height: 35px;
    font-weight: 500;
    padding: 0px 15px;
    font-size: 17px;
    background-color: rgb(201, 3, 3);
    border-radius: 0!important;
}

.button-podpiska:hover {
    color: #fff;
}

.obuna-content {
    margin-top: -2px;
    padding-top: 20px;
    border-top: 1px solid rgb(165, 162, 162);
}

.obunchi {
    margin-left: 10px;
}

.kanal-nami {
    font-weight: bold;
    margin-top: 7px;
}

.obunach-soni {
    margin-top: -20px;
    font-size: 12px;
    font-weight: bolder;
    opacity: 0.6;
}

.paragraf {
    margin-top: 20px;
    margin-left: 60px;
    font-weight: 500;
    font-size: 15px;
}

.top {
    margin-top: 1px!important;
}

.box :nth-child(1) {
    width: 900px;
    height: 500px;
    position: absolute;
}

.box :nth-child(2) {
    padding-top: 200px!important;
}

.hatolik {
    margin-top: -100px;
}

.yutube-list {
    height: 160px!important;
    width: 250px!important;
    height: 250px;
    margin-bottom: 0px!important;
    margin-top: 0px;
}

.yutube-text1 {
    margin-top: 45px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
    align-items: center;
    margin-bottom: 0px!important;
}
.manzil {
    display: block;
}
li {
    list-style: none;
}
.manzil li {
    margin: 10px;
}
.manzil li iframe {
    width: 350px;
    height: 200px;
}
.video-video {
    margin: 10px;
}
.text-video {
    padding: 15px;
    font-weight: bolder;
    display: flex;
    align-items:justify;
}

.spinner-border {
    position: fixed;
    left: 600px;
    bottom: 0;
    top: 250px;
    right: 0;
    width: 50px;
    height: 50px;
    display: none;
}
.load-text {
    position: fixed;
    bottom: 0;
    display: none;
    top: 320px;
    left: 585px;
    right: 0;
    color: black;
}
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
    margin-left: 70px;
    margin-top: -18px;
	cursor: pointer;
	text-indent: -9999px;
	width: 60px;
	height: 30px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #bada55;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 50px;
}
