.dark {
    body {
        background-color: rgb(39, 38, 38);
        color: blanchedalmond;
    }
    .offcanvas {
        background-color: black;
        color: #fff;
    }
    .asosiy-menu-img {
        background-color: rgb(255, 255, 255);
        padding: 5px;
        border-radius: 1px;
    }
    .qulf{
        background-color: rgb(70, 67, 67);
        border: black;
        color: blanchedalmond;
    }
    .load-text {
        color: #fff!important;
    }
}
